<!-- social_book/templates/index.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 style="margin-top: 20px;margin-bottom: 20px;text-align: center;color: rgb(202, 42, 175);">Welcome to Social Book! <br> Dear <b style="color: white;"> {{user | upper}} </b> </h1>
<center>
<div style="width: 500px;height: 280px;margin-top: 80px;text-align: justify; border: 1px solid; border-radius: 0px 50px 0px 50px;background-color: aqua;">
    <p style="margin: 30px 35px 20px 35px;color: #050505;">We're excited to have you join our community of book lovers. On Social Book, you can easily upload your books and
        download others' works. Connect with fellow authors and readers, explore new books, and share your creations.
    <br>
   
        <h5 style="text-align: center;">Happy reading and sharing!</h5></p>
<br>
        <h4 style="text-align: center;"><a href="{% url 'upload_file' %}" style="color: black;padding: 15px;background-color: #242b4d;border-radius: 20px; width: 200px;"><b style="color: white;">Upload Book</b></a></h4>
</div>
</center>
{% endblock %}
